
* {
  font-family: "Roboto Condensed", sans-serif;
  background-color: rgba(162, 237, 219, 0.507);
  margin: 0;
  padding: 0;
}


.h1principal {
  font-weight: 400;
  font-size: 4rem;
  text-align: center;
}

.enlaces {
  list-style-type: none;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
.enlaces li {
  margin: 0 15px;
  display: flex;
  justify-content: center;
}
.a {
  text-decoration: none;
  color: rgba(18, 17, 17, 0.749);
  margin-right: 10px;
  padding-right: 30px;
  border-right: 1px solid rgba(41, 38, 38, 0.785);
  display: flex;
  justify-content: center;
}
.a:hover {
  color: rgba(165, 42, 42, 0.642);
}

.card-btn{
  border: none;
    font-size: 0,5rem;
    background-color: rgba(245, 245, 220, 0.938);
    text-align: center;
    margin-top: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    padding: 2rem;
    margin-left: 31rem;

}
.card-btn:hover{
  background-color: rgba(165, 42, 42, 0.642);
}

.button{
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: center;
  border-radius: 2rem;
  text-decoration: none;
  background-color: rgba(245, 245, 220, 0.938);
  color: rgba(28, 27, 27, 0.74);
  display: flex;
  justify-content: center;
}
.button:hover {
  background-color: rgba(165, 42, 42, 0.642);
}
.card{
    width: 25rem;
    border-radius: 2rem;
    text-align: center;
    background-color: rgba(198, 198, 178, 0.795);
  }
  .card img {
    width: 25rem;
    border-radius: 2rem;
    text-align: center;
    background-color: rgba(198, 198, 178, 0.795);
    height: 25rem;
    object-fit: cover;
  }

  .contenedorflex {
    display: flex;
    justify-content: space-around;
    object-fit: cover;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .contenedorflex .card {
    padding: 1rem;
  }
  
  
  .contenedorflex .card button {
    border: none;
    font-size: 0,5rem;
    background-color: rgba(245, 245, 220, 0.938);
    padding: 1rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
  }
  

  .containercontact h2 {
    text-align: center;
    padding-top: 1rem;
    font-size: 2rem;
  }
  .containercontact h3 {
    text-align: center;
    font-size: 1rem;
  }
  .containercontact h4 {
    text-align: center;
    font-size: 1rem;
  }
  .containercontact img {
    width: 10rem;
    height: 10rem;
    border-radius: 2rem;
    margin-left: 14rem;
    margin-top: 1rem;
  }
  
  .logoinstagram img {
    margin-top: 5rem;
  }
  
  .ubicacion {
    text-align: center;
    margin-top: 2rem;
  }
  .ubicacion iframe {
    border-radius: 1rem;
    overflow: hidden;
  }